.navbar-nav {
    margin-left: 750px;
}

.item-margin {
    margin-right: 15px;
}

.footer-bottom {
    bottom: 0;
    /*position: absolute;*/
    background-color:#2e2d2d;

}

.center {
    text-align: center;
}

.contact-us {
    color: #61dafb;
}
