.pet_img {
    height: 300px;
    width: 100%;
}

.bottom {
    padding-bottom: 10px;
    margin-left: 0px;
    padding-left: 0px;
}

.pet-info {
    font-size: 30px;

}

.title {
    font-size: 25px;
    color: #61dafb;
    font-family: "Gill Sans", sans-serif;
    margin-top: 10px;
}

.comments-title {
    font-size: 20px;
    color: #61dafb;
    font-family: "Gill Sans", sans-serif;
    margin-top: 10px;
}

.review-subtitle {
    font-size: 15px;
    color: #61dafb;
}
.card-bottom-margin {
    margin-bottom: 20px;
}

.apply-button {
    width: 100%;
    margin-right: -13px;
}

.col-margin-left {
    margin-left: -13px;
}

.col-margin-right {
    margin-right: -13px;
}

.petImages {
    height: 400px;
    width: 100%;
}

.review-link {
    color: #2394eb;
    cursor: pointer;
}

.title-bold {
    font-weight: bold;
}

.title-pointer {
    cursor: pointer;
}

.tips {
    font-size: 15px;
    color: #61dafb;
    font-family: "Gill Sans", sans-serif;
}

.app-title {
    font-size: 25px;
    color: #61dafb;
    font-family: "Gill Sans", sans-serif;
}
