.profile {
    font-size: 70px;
    font-family: fantasy;
}

.profile-username {
    font-size: 50px;
    color: #61dafb;
    font-family: "Gill Sans", sans-serif;
    margin-top: 10px;
}

.profile-user-info-form {
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.profile-user-info-input {
    font-family: "Gill Sans", sans-serif;
    font-size: 25px;
}

.application-info {
    font-family: "Gill Sans", sans-serif;
    text-decoration: none;
    font-size: 25px;
}

.application-button {
    margin-top: 10px;
    cursor: pointer;
}

.back-button {
    display: inline-block;
    margin-bottom: 30px;
    color: #61dafb;
    text-decoration: none;
}